In [1]:
import os
import sys
spark_home = r"C:\spark\spark-4.0.0-bin-hadoop3"
sys.path.insert(0, spark_home + r"\python")
sys.path.insert(0, spark_home + r"\python\lib\py4j-0.10.9.9-src.zip")
os.environ["PYSPARK_PYTHON"] = "C:/Users/Raghava/AppData/Local/Programs/Python/Python310/python.exe"
os.environ["PYSPARK_DRIVER_PYTHON"] = "C:/Users/Raghava/AppData/Local/Programs/Python/Python310/python.exe"

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg,unix_timestamp, round as pyspark_round
from pyspark.sql.window import Window

In [3]:
spark = SparkSession.builder.getOrCreate()

In [4]:
bonus_df = spark.read.csv("H:/leet_code_sql_50/sql_50_leetcode/sample_data/11_bonus.csv", header=True, inferSchema=True)

In [5]:
employee_df = spark.read.csv("H:/leet_code_sql_50/sql_50_leetcode/sample_data/11_employee.csv", header=True, inferSchema=True)

In [6]:
bonus_df.printSchema()

root
 |-- empid: integer (nullable = true)
 |-- bonus: integer (nullable = true)

In [7]:
employee_df.show()

+-----+------+----------+------+
|empid|  name|supervisor|salary|
+-----+------+----------+------+
|    3|  Brad|      NULL|  4000|
|    1|  John|         3|  1000|
|    2|   Dan|         3|  2000|
|    4|Thomas|         3|  4000|
+-----+------+----------+------+

In [12]:
employee_df.join(bonus_df,on='empid',how='left') \
    .where((col('bonus') < 1000) | (col('bonus').isNull()) ) \
    .select('name','bonus').show()

+----+-----+
|name|bonus|
+----+-----+
|Brad| NULL|
|John| NULL|
| Dan|  500|
+----+-----+